body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {}

#header {
    display: flex;
}

.half-width {
    width: 50%;
    margin: 0 6%;


}

span {
    color: orange;
}

.half-width p {
    margin-bottom: 30px;
    color: rgba(26, 23, 23, 0.534);
    font-weight: 600;

}

.half-width a {
    text-decoration: none;
    background-color: orange;
    padding: 20px 40px;
    border-radius: 30px;
    background-image: linear-gradient(to right, tomato, red);
    color: white;
    margin-top: 10px;

}

.half-width h1 {
    margin-top: 100px;
    font-size: 50px;
    color: rgba(26, 23, 23, 0.534);

}

.half-width img {
    height: 550px;
    width: 550px;
    margin-top: -50px;
    margin-bottom: 80px;
}

#about {
    display: flex;
    background-image: url("images/shapes/7.png");
}

#img2 {
    height: 400px;
    width: 370px;
    margin-top: 80px;

}

#recipe {
    margin-bottom: 50px;
}

.recipe-header {
    margin: 0 20%;
}

.recipe-header h1 {
    text-align: center;
    font-size: 40px;
    color: rgba(26, 23, 23, 0.534);

}

.recipe-header p {
    text-align: center;
    color: rgba(26, 23, 23, 0.534);
}

.recipe-half {
    display: flex;
    margin-top: 40px;


}

#img3 {
    height: 300px;
    width: 500px;
    margin-top: 20px;


}

#img4 {
    height: 300px;
    width: 500px;
    margin-top: 20px;

}

.rr h1 {
    margin-top: -60px;
    font-size: 30px;
}

.rl h1 {
    margin-top: -60px;
    font-size: 30px;
}

#recipe-left {
    padding: 10px 20px;
    box-shadow: 2px 2px 20px gray;
    border-radius: 20px;
    margin: 0 40px 0 80px;
}

#recipe-right {
    padding: 10px 20px;
    box-shadow: 2px 2px 20px gray;
    border-radius: 20px;
    margin: 0 80px 0 40px;
}

.recipe-footer {
    display: flex;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
    box-shadow: 2px 2px 20px gray;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.rfooter {
    margin: 0 120px 0 120px;
}

.recipe-footer h1 {
    font-size: 60px;
}

.recipe-footer h5 {
    margin-top: -44px;
    padding-bottom: 30px;
}

.footer-footer {
    text-align: center;
    background-color: rgb(56, 55, 55);
    color: white;
    margin-bottom: 0;
}

.footer-footer h1 {
    padding-top: 40px;
    padding-bottom: 10px;
    color: gray;
    font-size: 30px;
}

.footer-footer h4 {
    padding-bottom: 100px;
    font-weight: lighter;
}